<div height="100" id="{{ chartName }}" ></div>
<script>
var chart = c3.generate({
    bindto: '#{{ chartName }}',
    data: {
        type: "bar",
        x: 'x',
        columns: [
            ['x'].concat({{ chart.labels | json_encode | raw }}),
            ['# µs'].concat({{ chart.series | json_encode | raw }}),
        ],
    },
    axis: {
        x: {
            type: 'category'
        },
    }
});

</script>
