<div height="100" id="{{ chartName }}" ></div>
<script>
var chart = c3.generate({
    bindto: '#{{ chartName }}',
    data: {
        x: 'x',
        columns: [
            ['x'].concat({{ chart.labels | json_encode | raw }}),
            ['mode µs'].concat({{ chart.series.mode | json_encode | raw }}),
        ],
        type: 'bar',
    },
    axis: {
        x: {
            type: 'category'
        },
    }
});

</script>
