default:
    suites:
        default:
            contexts:
                - App\Tests\Acceptance\ReportContext:
                    kernel: '@kernel'
                    importerService: '@App\Service\ImporterService'
                - App\Tests\Acceptance\ImportContext:
                    kernel: '@kernel'
                - App\Tests\Acceptance\UserContext:
                    kernel: '@kernel'
                - App\Tests\Acceptance\ProjectContext:
                    kernel: '@kernel'
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Acceptance\DoctrineContext:
                    kernel: '@kernel'
                - App\Tests\Acceptance\FormContext
                - App\Tests\Acceptance\ElasticContext:
                    kernel: '@kernel'
                - App\Tests\Acceptance\CliContext:
                - App\Tests\Acceptance\WorkspaceContext:

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: vendor/autoload.php
                class: App\Framework\Kernel
                env: test
        Behat\MinkExtension:
            sessions:
                my_session:
                    symfony2: ~
