default:
    suites:
        default:
            contexts:
                - App\Tests\Acceptance\ReportContext:
                    kernel: '@kernel'
                    importerService: '@App\Service\ImporterService'
                - App\Tests\Acceptance\ImportContext:
                    kernel: '@kernel'
                - App\Tests\Acceptance\UserContext:
                    kernel: '@kernel'
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: vendor/autoload.php
                class: App\Infrastructure\Symfony\Kernel
                env: test
        Behat\MinkExtension:
            sessions:
                my_session:
                    symfony2: ~
