<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"  href="/assets/semantic.min.css">
        <script src="/assets/jquery.min.js"></script>
        <script src="/assets/semantic.min.js"></script>
        <script src="/assets/Chart.min.js"></script>
        <script src="/assets/chartjs-plugin-annotation.min.js"></script>
    </head>
    <body>
        <div class="ui container">
            {% include "header.html.twig" %}

            <div class="ui breadcrumb">
                <a class="section" href="{{ path('home') }}"><i class="home icon"></i></a>
                <div class="divider"> / </div>
                {% block breadcrumb %} {%endblock %}
            </div>

            <h2 class="ui header">
                {{ block('title') }}
                <div class="sub header">{% block subtitle %}{% endblock %}</div>
            </h2>

            {% block body %}{% endblock %}

            {% block javascripts %}
                <script type="text/javascript">
                $(document).ready(function () {
                    $('.ui.dropdown').dropdown();
                })
                </script>
            {% endblock %}

            <br/><br/><br/>

            <hr/>

            <center>
                Made badly by Daniel Leech in 2017
            </center>
        </div>
    </body>
</html>
