<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"  href="/assets/semantic.min.css">
        <script src="/assets/Chart.min.js"></script>
        <script src="/assets/chartjs-plugin-annotation.min.js"></script>
    </head>
    <body>
        <div class="ui container">
        <h1>PHPBench Reports</h1>
        <h2>{% block page_title %}{% endblock %}</h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
        <br/><br/><br/>
        <hr/>
        Made badly by Daniel Leech
    </body>
</html>
