{% extends "base.html.twig" %}
{% block page_title %}Profile{% endblock %}
{% block body %}
    <div class="ui grid">
        <div class="centered six wide column">
                <table class="ui definition table">
                    <tr>
                        <td>Username</td>
                        <td>{{ app.user.username }}</td>
                    </tr>
                    <tr>
                        <td>API Key</td>
                        <td>{{ app.user.apiKey }}</td>
                    </tr>
                </table>
        </div>
    </div>
{% endblock %}
