{% extends "base.html.twig" %}
{% block title %}Benchmark{% endblock %}
{% block subtitle %}Wow, this benchmark was awesome{% endblock %}
{% block breadcrumb %}
    {{ breadcrumb([
        {
            "label": project.namespace,
            "route": "report_namespace",
            "params": {
                namespace: project.namespace
            }
        },
        {
            "label": project.name,
            "route": "report_project",
            "params": {
                namespace: project.namespace,
                project: project.name,
            }
        },
        {
            "label": uuid,
            "route": "report_suite",
            "params": {
                namespace: project.namespace,
                project: project.name,
                uuid: uuid 
            }
        },
        {
            "label": class | short_class,
        },
    ]) }}
{% endblock %}
{% block body %}
    [<a href="{{ path('report_benchmark_historical', { 
        namespace: project.namespace,
        project: project.name,
        class: class
    }) }}">historical</a>]
    <h3>Chart</h3>
    {% include "report/chart/variant_chart.html.twig" with {
        chartName: "benchmarkChart",
        chart: variantChart,
    } %}

    <h3>Table</h3>
    {% for subTitle, table in variantTables %}
        {% include "report/table/benchmark.html.twig" %}
    {% endfor %}

{% endblock %}
