{% extends "base.html.twig" %}
{% block title %}Latest Suites{% endblock %}
{% block subtitle %}Latest results from around the world{% endblock %}
{% block breadcrumb %}
    <div class="active section">Latest</div>
{% endblock %}

{% block body %}
    {% include "report/table/suites.html.twig" with { table: suitesReport } %}
{% endblock %}
