{% extends "base.html.twig" %}
{% block title %}Namespace{% endblock %}
{% block subtitle %}{{ namespace }}{% endblock %}
{% block breadcrumb %}
<div class="active section">{{ namespace }}</div>
{% endblock %}
{% block body %}
{% include "report/table/namespace_suites.html.twig" with { table: suitesReport } %}
{% endblock %}

