{% extends "base.html.twig" %}
{% block title %}Benchmark{% endblock %}
{% block subtitle %}Wow, this benchmark was awesome{% endblock %}
{% block breadcrumb %}
    <a class="section" href="{{ path('report_suite', { "uuid": uuid }) }}">{{ uuid }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ class | short_class }}</div>
{% endblock %}
{% block body %}
    {% include "report/chart/variant_chart.html.twig" with {
        chartName: "benchmarkChart",
        chart: variantChart,
    } %}

    {% for subTitle, table in variantTables %}
        {% include "report/table/benchmark.html.twig" %}
    {% endfor %}

{% endblock %}
