{% extends "base.html.twig" %}
{% block title %}Latest Suites{% endblock %}
{% block subtitle %}Latest of {{ suitesReport.hits }} suites{% endblock %}
{% block breadcrumb %}
    <div class="active section">Latest</div>
{% endblock %}

{% block body %}
    {% include "report/pager.html.twig" with { pager: pager, resultSet: suitesReport } %}
    {% include "report/table/suites.html.twig" with { table: suitesReport } %}
    {% include "report/pager.html.twig" with { pager: pager, resultSet: suitesReport } %}
{% endblock %}
